<!DOCTYPE html>
<html lang="en">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRIxTmQ84fKJEwys-mXpdL-Tyg76_16Ar7mwghQQiui5lWK1ckXsvIObC327cKoP3OkrZXONqimM6IR/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="false" mozallowfullscreen="false" webkitallowfullscreen="false"></iframe>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="static/app.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://rawgit.com/WeiChiaChang/Easter-egg/master/easter-eggs-collection.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script> 
<script src="https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js"></script>


    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Charts</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="row">
        <script src="https://d3js.org/d3.v4.js"></script>
      <div class="col-md-12">
        <div id="one_song" width="1200" height="700"></div>
      </div>
    </div>
      <div class="row">
        <script src="https://d3js.org/d3.v4.js"></script>
        <div class="col-md-12">
        <div id="my_dataviz" width="1200" height="700"></div>
        </div>
      </div>
      <div class="row">
        <script src="https://d3js.org/d3.v4.js"></script>
        <div class="col-md-12">
        <div id="histogram" width="1200" height="700"></div>
        </div>
        </div>
      </div>
      <div class="row">
        <script src="https://d3js.org/d3.v4.js"></script>
        <div class="col-md-12">
        <div id="categories" width="1200" height="700"></div>
        </div>
      </div>
      

</body>
</html>
